source https://www.nuget.org/api/v2
nuget FParsec ~> 1.0.1
nuget FSharp.Core ~> 4.1.12 redirects:force
nuget MathNet.Numerics.FSharp ~> 3.8

nuget Expecto

nuget FAKE ~> 4.1
nuget FSharp.Formatting !~> 2.4
nuget NuGet.CommandLine
