<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsUnit" version="1.2.1.0" targetFramework="net45" />
  <package id="MathNet.Numerics" version="3.0.0-alpha9" targetFramework="net45" />
  <package id="MathNet.Numerics.FSharp" version="3.0.0-alpha9" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
</packages>